<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>
<% content_for(:calendar) do %>
  <%= render :partial => "layouts/calendar" %>
<% end %>
<div class="list-group">
  <% if @todos != nil %>
    <% @todos.each do |key, value| %>
      <div class="row calendar-header">
        <div class="cal-section col-md-1">
          <time class="icon" data-calendar-id="<%= key.to_s %>">
            <p><%= key.to_s[5..6] %></p>
            <div class="cal-top"></div>
            <span><%= key.to_s[8..9] %></span>
          </time>
        </div>
        <img src="/images/summer.jpg"  class="pull-right col-md-10 img-reponsive img-rounded list-group-item list-group-item-action clearfix" />
      </div>
      <% value.each do |todo| %>
        <div class="row uncompleted-todos">
          <% if todo.overdue %>
            <a href="/users/<%= params[:user_id] %>/todos/<%= todo.id %>" data-list-id="<%= todo.id %>" class="pull-right col-md-10 list-group-item list-group-item-action clearfix list-group-item-danger">
              <%= todo.title %>
              <span class="pull-right">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="glyphicon glyphicon-trash"></span>
                <span class="glyphicon glyphicon-ok"></span>
              </span>
              <br>
              <span>
                <% if todo.detail != nil %>
                  <%= todo.detail %>
                <% end %>
                <%= todo.deadline %>
              </span>
            </a>
          <% else %>
            <a href="/users/<%= params[:user_id] %>/todos/<%= todo.id %>" data-list-id="<%= todo.id %>" class="pull-right col-md-10 list-group-item list-group-item-action clearfix">
              <%= todo.title %>
              <span class="pull-right">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="glyphicon glyphicon-trash"></span>
                <span class="glyphicon glyphicon-ok"></span>
              </span>
              <br>
              <% if todo.detail != nil %>
                <%= todo.detail %>
              <% end %>
              <%= todo.deadline %>
            </a>
          <% end %>
        </div>
      <% end %>
      <br>
    <% end %>
  <% end %>
</div>
