<h1>TODOs</h1>
<div class="list-group">
  <% if @todos != nil %>
    <% @todos.each do |todo| %>
      <% if todo.overdue %>
        <a href="/users/<%= params[:user_id] %>/todos/<%= todo.id %>" class="list-group-item list-group-item-action clearfix list-group-item-danger">
          <span class="glyphicon glyphicon-time"></span>
          <%= todo.title %>
          <span class="pull-right">

              <%= link_to 'Delete',
                {:controller => 'todos', :action => 'destroy', :id => todo.id},
                {:method => :delete, :remote => true, :class => "list-group-item list-group-item-action"} %>


              <%= link_to 'Mark Completed',
                {:controller => 'todos', :action => 'completed', :id => todo.id},
                {:method => :put, :remote => true, :class => "list-group-item list-group-item-action"} %>

          </span>
        </a>
      <% else %>
        <a href="/users/<%= params[:user_id] %>/todos/<%= todo.id %>" class="list-group-item list-group-item-action clearfix">
          <span class="glyphicon glyphicon-question-sign"></span>
          <%= todo.title %>
          <span class="pull-right">
              <%= link_to 'Delete',
                {:controller => 'todos', :action => 'destroy', :id => todo.id},
                {:method => :delete, :remote => true, :class => "glyphicon glyphicon-trash"} %>
              <%= link_to 'Mark Completed',
                {:controller => 'todos', :action => 'completed', :id => todo.id},
                {:method => :put, :remote => true, :class => "glyphicon glyphicon-check"} %>

          </span>
        </a>
      <% end %>
    <% end %>
  <% end %>
</div>
