<h1>TODOs</h1>
<div class="list-group">
<% if @todos != nil %>
    <% @todos.each do |todo| %>
    <div class="row">
                <% if todo.overdue %>
                    <a href="/users/<%= params[:user_id] %>/todos/<%= todo.id %>" class="list-group-item list-group-item-action col-md-8  clearfix list-group-item-danger">
                        <span class="glyphicon glyphicon-file"></span>
                        <%= todo.title %>
                    </a>
                <% else %>
                    <a href="/users/<%= params[:user_id] %>/todos/<%= todo.id %>" class="list-group-item list-group-item-action col-md-8 clearfix">
                        <span class="glyphicon glyphicon-file"></span>
                        <%= todo.title %>
                    </a>
                <% end %>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <%= link_to 'Delete', { :controller => 'todos', :action => 'destroy', :id => todo.id },
                                      { :method => :delete, :remote => true, :class => "list-group-item list-group-item-action" } %>
            </div>
            <div class="col-md-2">
                <%= link_to 'Mark Completed', {
                  :controller => 'todos',
                  :action => 'completed',
                  :id => todo.id
                }, {
                  :method => :put,
                  :remote => true,
                  :class => "list-group-item list-group-item-action"
                } %>
        </div>
    <% end %>
<% end %>
</div>
