<div class="month">
  <ul>
    <li class="prev"><%= link_to "<", date: @date.prev_month %></li>
    <li class="next"><%= link_to ">", date: @date.next_month %></li>
    <li>
      <%= @date.strftime("%B") %><br>
      <span style="font-size:18px"><%= @date.strftime("%Y") %></span>
    </li>
  </ul>
</div>
<%= calendar @date do |date| %>
  <%= date.day %>
<% end %>
