<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" >
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">TODOs</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if session[:user_id] %>
          <li>
            <a href="/users/<%= session[:user_id] %>/todos"><%= User.find(session[:user_id]).username %></a>
          </li>
          <li>
            <a href="/users/<%= session[:user_id] %>/todos/new">Add TODO</a>
          </li>
          <li>
            <%= link_to 'Log out', logout_path %>
          </li>
          <% else %>
          <li>
            <%= link_to 'Log in', login_path %>
          </li>
          <li>
            <%= link_to "Sign Up", signup_path %>
          </li>
          <% end %>
        </ul>
        <% if session[:user_id] %>
          <%= form_tag(user_todos_path(session[:user_id]), :action => "index", :method => "get", :id => "search-form", :class => "form-inline") do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Search Todos", class: "form-control" %>
              <span class="input-group-btn"><%= submit_tag "Search", :class => "btn btn-default" %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <div class="col-md-7 content">
        <%= yield %>
      </div>
      <div class="col col-md-4 col-md-offset-1 sidebar">
        <%= yield :sidebar %>
      </div>
      <div class="col col-md-4 col-md-offset-1 calendar">
        <%= yield :calendar %>
      </div>
    </div>
  </body>
</html>
